src/dashboard.json
[
    {
        "id": "2eca7681109552bc",
        "type": "mqtt in",
        "z": "ecdf6d4208691553",
        "name": "Temperatura",
        "topic": "/grupo4/temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "3dae1b52.292394",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "4aeef8827be9da7a",
                "74c7a4db704e1d6a"
            ]
        ]
    },
    {
        "id": "4aeef8827be9da7a",
        "type": "ui_gauge",
        "z": "ecdf6d4208691553",
        "name": "Temperatura Atual",
        "group": "c9c7fb4c.c89f48",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "74c7a4db704e1d6a",
        "type": "ui_chart",
        "z": "ecdf6d4208691553",
        "name": "Histórico de Temperatura",
        "group": "c9c7fb4c.c89f48",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "Temperatura ao longo do tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "43548257efe3b359",
        "type": "mqtt in",
        "z": "ecdf6d4208691553",
        "name": "Umidade",
        "topic": "/grupo4/umidade",
        "qos": "2",
        "datatype": "auto",
        "broker": "3dae1b52.292394",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "1c87960352e5f5e1"
            ]
        ]
    },
    {
        "id": "1c87960352e5f5e1",
        "type": "ui_gauge",
        "z": "ecdf6d4208691553",
        "name": "Umidade Atual",
        "group": "c9c7fb4c.c89f48",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "9e332788b74655c9",
        "type": "mqtt in",
        "z": "ecdf6d4208691553",
        "name": "LED Status",
        "topic": "/grupo4/led/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "3dae1b52.292394",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "f4023f1a445ba259"
            ]
        ]
    },
    {
        "id": "f4023f1a445ba259",
        "type": "ui_text",
        "z": "ecdf6d4208691553",
        "group": "c9c7fb4c.c89f48",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "LED Status",
        "label": "LED Status",
        "format": "{{msg.topic}}: {{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "3dae1b52.292394",
        "type": "mqtt-broker",
        "name": "Mosquitto Público",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c9c7fb4c.c89f48",
        "type": "ui_group",
        "name": "Medições",
        "tab": "fa9cd42c.e9a738",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "fa9cd42c.e9a738",
        "type": "ui_tab",
        "name": "Monitoramento Grupo 4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]